<!-- 
    <header class="header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col col-sm-2">
                </div>
                <div class="col col-sm-1">
                    <div id="logo">
                        <img src="../../../assets/Images/3.png" alt="Emablem" class="emablem" >

                    </div>
                </div>


                <div class="col col-sm-3">
                    <a id="Dept">Department of Finance </a>
                    <div class="divider"></div> <a id="Gov">Government of Rajasthan </a>
                </div>
                <div class="col col-sm-3">
                    <a id="egras"><b>e</b> Government Receipt Accounting System</a>
                </div>
                <div class="col col-sm-1">
                    <img src="../../../assets/Images/logoeGRAS2.png" alt="logoeGRAS" class="logoeGRAS">
                </div>
                <div class="col col-sm-2">

                </div>

            </div>
        </div>
   
<div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #002147;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-4">

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home </a>
                            </li>
                            <li class="nav-item scrollto active">
                                <a class="nav-link" href="#about">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-4">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button (click)="onsubmit()" type="button" class="btn btn-primary "
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">SignUp</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</header>
<div id="back">
    <div class="container">
        <div class="row">
            <div class="col col-sm-8 text-center" >
                <h2 class="h2font">eGRAS</h2>
                <h3 class="pfont">Online Government Receipts Accounting System (e-GRAS) is an e-Governance Initiative of
                    Government of Rajasthan
                    and is part of Integrated Financial Management System
                </h3>
            </div>
            <div class="col col-sm-4">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div id="about">
            <header class="section-header">
                <h3 >About Us</h3>
                <p>Online Government Receipts Accounting System (e-GRAS) is an e-Governance Initiative of Government of Rajasthan under Mission Mode 
                    Project category and is part of Integrated Financial Management System. e-GRAS facilitates collection of tax/non tax revenue in both the mode online as well as manual.
                    <br>
                    eGRAS facilitates payments through Cards and Netbanking with 35+ Banks:-    
                    
                </p>
                <div class="container">
                    <div class="row" id="bank">
                        <div class="col col-sm-4">
                                <img src="../../assets/Images/SBI.png">
                                State Bank of India
                            </div>
                            <div class="col col-sm-4">
                                <img src="../../assets/Images/IDBI.png">
                                IDBI Bank
                                </div>
                                <div class="col col-sm-4">
                                    <img src="../../assets/Images/Union.png">
                                    Union Bank of India
                                    </div>
                    </div>
                    
                </div>
            </header>
        </div>
    </div> -->

<app-login></app-login>