<div class="main">
    <app-challan> </app-challan>
    <div class="row1 padding-col">
        <p class="sub-text-head">Payee Profile</p>
    </div>

    <div class="">
        <div class="showDiv1">
            <label>
                <p class="sub-text-info" style="margin-block: 20px;">Department:-</p>
            </label>
            <ng-select [items]="Department" bindLabel="DepartName" placeholder="Select Department" class="dropdiv"
                (change)="selectDept($event)" [(ngModel)]="Department_lab">
            </ng-select>

        </div>
        <div class="showDiv1">
            <label>
                <p class="sub-text-info" style="margin-block: 20px;">Major Head:-</p>
            </label>
            <ng-select [items]="MajorHead" bindLabel="Majorheadname" placeholder="Select Major Head" class="dropdiv"
                (change)="selectMajor($event)" style="margin-inline:20px" [(ngModel)]="Major_lab">
            </ng-select>
            <button class="Heads-btn" (click)="onMoreHeads()">
                More Heads
            </button>
        </div>
    </div>
    <div class="">
        <form [formGroup]="ProfileForm">
            <div class="showDiv1">
                <label>
                    <p class="sub-text-info" style="margin-block: 20px;">Profile Name:-</p>
                </label>
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <mat-form-field floatLabel="never" appearance="outline">
                            <input matInput class="input-control" type="text" placeholder="Profile" maxlength="15"
                                name="ProfileName" required formControlName="ProfileName" />
                            <div *ngIf="ProfileName && ProfileName.invalid &&  ProfileName.touched"
                                class="text-danger Cprofile-error_msg">
                                <div *ngIf="ProfileName.errors?.['Required'] as error">
                                    {{error}}
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- <div class="row justify-content-md-center">
                    <div class="col-md-11">
                        <mat-form-field floatLabel="never" appearance="outline">
                            <input matInput class="form-control" type="password" placeholder="Profie Name"
                                name="ProfileName" required formControlName="ProfileName" />
                            <div *ngIf="ProfileName && ProfileName.invalid &&  ProfileName.touched" class="text-danger login-error_msg">
                            <div *ngIf="ProfileName.errors?.['Required'] as error">
                                {{error}}
                            </div>
                            
                        </div>
                        </mat-form-field>
                    </div>
                         </div> -->
                </div>
            </div>
        </form>
    </div>
    <div style="margin-inline:35px ;">
        <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%">
    </div>

    <div class="showDiv1 justify">
        <button (click)="enableDisableRule()" [ngClass]="{'green' : toggle, 'red': !toggle}" style="width: 200px;">
            Text
        </button>
        <button (click)="enableDisable()" [ngClass]="{'green' : !toggle, 'red': toggle}" style="width: 200px;">
            BudegetHead
        </button>
    </div>

    <div class="showDiv1 justify" *ngIf="searchbox == 1" style="margin-right: 220px;">
        <!-- <label>
            <p class="sub-text-info" style="margin-block: 10px;">Search Text:-</p>
        </label> -->
        <!-- <input class="cap" style=" width: 20%;" name="captcha" placeholder="Serach Text" #box
            (keyup)="onSearch(box.value)" /> -->
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <mat-form-field floatLabel="never" appearance="outline">
                    <i class="material-icons">
                        search
                    </i>
                    <input matInput class="input-control" type="text" placeholder="Search Text" #box name="ProfileName"
                        (keyup)="onSearch(box.value)" />

                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="showDiv1 justify" *ngIf="searchbox == 2" style="margin-right: 220px;">
        <!-- <label>
            <p class="sub-text-info" style="margin-block: 10px;">Search BudgetHead:-</p>
        </label>
        <input mobMask class="cap" style=" width: 20%;" name="captcha" placeholder="9999-99-999-99-99" #box
            (keyup)="onSearch(box.value)" type="tel" /> -->
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <mat-form-field floatLabel="never" appearance="outline">
                    <i class="material-icons">
                        search
                    </i>
                    <input mobMask matInput class="input-control" type="tel" placeholder="9999-99-999-99-99" #box
                        style="width:60% ;" name="ProfileName" (keyup)="onSearch(box.value)" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <!-- <div class="showDiv1 justify">
        <div class="col-md-4 mb-4">
            <div class="card example-1 scrollbar-ripe-malinka">
                <div class="card-body">
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold
                        out
                        qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                        mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie
                        minim
                        qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson
                        aesthetic.
                        Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                </div>
            </div>
        </div>
        <div
            style="margin-inline:30px ;position: absolute; right: 62rem; cursor: pointer;display: flex;flex-direction: column;">

            <button mat-raised-button color="primary" type="submit" type="button" class="bt"> <img
                    src="../../../assets/Images/create profile (arrow1)-01.png" height="40" width="40">

            </button>
            <button mat-raised-button color="primary" type="submit" type="button" class="bt"> <img
                    src="../../../assets/Images/create profile(arrow2)-01.png" height="40" width="40">
            </button>

        </div>

        <div class="col-md-4 mb-4">
            <div class="card example-1 scrollbar-ripe-malinka">
                <div class="card-body" *ngFor="let student of students">
                    <p>{{ student.Grn }}</p>

                </div>
            </div>
        </div>
    </div> -->
    <div class="showDiv1 justify">
        <div class="col-md-9 mb-9">
            <div class="card example-1 scrollbar-ripe-malinka">
                <mat-selection-list>
                    <mat-list-option *ngFor="let hero of filteredOptions" (click)="onsub(hero)">
                        <span>{{ hero.schemaName }}</span>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>

    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-3 text-center">
                <button mat-raised-button color="primary" type="submit" type="button" class="bt btn"
                    (click)="openPopup()">Submit</button>
            </div>

            <div class="col-md-3 text-center">
                <button mat-raised-button color="primary" type="submit"
                    style="background-color: white;  color: #051B77; border-color: #051B77; border-width: 40px; "
                    type="button" class="bt">Reset</button>
            </div>

        </div>

    </div>
    <div style="margin-inline:35px ;">
        <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%">
    </div>


    <div style="margin-top: 100px;margin-inline: 30px;">

        <div>
            <div class="table-div">
                <label style="margin-block: 10px;">Profile</label>
            </div>

            <table>
                <tr *ngFor="let user of userProfile">
                    <td>{{ user.UserProfile }}</td>
                    <td mat-coloum style="width:8%">
                        <button mat-icon-button title="Edit User" style="right:70px ;top:10px;">
                            <mat-icon style="width: 100%;height: 60%;;">edit</mat-icon>
                        </button>
                    </td>
                    <td mat-coloum style="width:10%">
                        <button mat-icon-button title="Acitve User" style="right:70px ;top:10px"
                            *ngIf="user.Flag == 'Y'" (click)="setuser_Status(user,'N')">
                            <mat-icon style="width: 100%;height: 100%;color: green;">check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button title="Deactive User" style="right:70px ;top:10px"
                            *ngIf="user.Flag == 'N'" (click)="setuser_Status(user,'Y')">
                            <mat-icon style="width: 100%;height: 100%;color: red;">cancel</mat-icon>
                        </button>
                    </td>

                </tr>
            </table>

        </div>

    </div>
    <!-- <div style="  display:grid;
    grid-auto-flow: row;
    grid-gap: 20px; 
    grid-template-rows: 100px 100px ;
    grid-template-columns: 100px 100px ;
    justify-content: space-between;
    margin-right: 300px;
    ">
        <div style="display: flex; flex-direction: row;  " *ngFor="let user of userProfile">
            <div class="bubble_sr" style="margin-top: 5px;">
                <label style="color: white;font-size: 25pt; font-weight: 400; padding: 22px; text-align: center;">
                    {{ user.Sr }} </label>
            </div>
            <div class="bubble_Des">
                <div style="display: flex; flex-direction:column;padding: 10px;">
                    <label style="color: white;font-size: 12pt; font-weight: 400; flex: 1;">
                        {{ user.UserProfile }} </label>
                    <button mat-icon-button title="Edit User" style="right:70px ;top:10px; ">
                        <mat-icon style="width: 70%;height: 60%;color: white;;">edit</mat-icon>
                    </button>
                </div>
                <div style="margin-inline:5px">
                    <div>
                        <button mat-icon-button title="Acitve User" style="right:70px ;top:15px"
                            *ngIf="user.Flag == 'Y'" (click)="setuser_Status(user,'N')">
                            <mat-icon style="width: 100%;height: 100%;color: green;margin-block: 5px;">check_circle_outline</mat-icon>
                        </button>

                    </div>
                    <div>
                        <button mat-icon-button title="Deactive User" style="right:70px ;top:15px"
                            *ngIf="user.Flag == 'N'" (click)="setuser_Status(user,'Y')">
                            <mat-icon style="width: 100%;height: 100%;color: red;">cancel</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="heroes">
        <div *ngFor="let hero of Heros; let indexOfelement=index;">
            <label [ngClass]="{'green' : selecteditem==indexOfelement, 'red': selecteditem!=indexOfelement}"
                type="button" (click)="onSelect(hero, indexOfelement)">
                <span class="name">{{hero.name}}</span>
            </label>
        </div>
    </div> -->

    <!-- <mat-selection-list [(ngModel)]="selectedOptions" [compareWith]="compareFunction">
        <mat-list-option *ngFor="let hero of Heros" [value]="hero">
          {{hero.name}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{selectedOptions | json}}
      </p> -->

    <!-- <mat-selection-list id="areaListControl" name="areaListControl" (selectionChange)="onChange($event)">
        <mat-list-option *ngFor="let hero of Heros" [selected]="hero.name" [value]="hero">
            {{hero.name}}
        </mat-list-option>
    </mat-selection-list> -->

    <!-- <h2>Angular material action list</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let hero of Heros">

            <a mat-list-item>{{ hero.name }}</a>
        </mat-list-item>
    </mat-action-list> -->

    <!-- <mat-nav-list>
        <mat-list-item *ngFor="let hero of Heros">
            <span>{{ hero.name }}</span>
        </mat-list-item>
    </mat-nav-list> -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"
        style="background-color:#bfbfbf ;" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div style="margin-inline: 60px;">
                    <div class="modal-footer" (click)="closePopup()" style="cursor: pointer;">
                        <mat-icon
                            style="height: 100%; width:100%;position: absolute;top:10px; color: #051B77; right: 0px;left:90%;">
                            cancel</mat-icon>
                    </div>

                    <div class="col-md-12 ">
                        <img src="../../../assets/Images/popup-img.png" alt="login" class="otpimg"
                            style="height: 100%; width:100%">
                    </div>
                    <div>
                        <div class="showDiv1 justify">
                            <div>
                                <label style="font-size:15pt; font-weight:500;margin-left: 0px;">Departments:-</label>
                            </div>
                            <div style="background-color:#DEE5FC ; width: 70%;  margin-left: 40px;">
                                <label style="font-size:15pt; font-weight:500;margin-inline: 20px;">
                                    {{Selected_Department.DeptName}} </label>
                            </div>
                        </div>
                        <div class="showDiv1 justify">
                            <div>
                                <label style="font-size:15pt; font-weight:500;margin-inline: 0px;">Major Head:-</label>
                            </div>
                            <div style="background-color:#DEE5FC ; width: 70%;  margin-left: 50px;">
                                <label style="font-size:15pt; font-weight:500;margin-inline: 20px;">
                                    {{Selected_Major.MajorName}} </label>
                            </div>
                        </div>
                        <div class="showDiv1 justify">
                            <div>
                                <label style="font-size:15pt; font-weight:500;margin-inline: 0px;">Profile
                                    Name:-</label>
                            </div>
                            <div style="background-color:#DEE5FC ; width: 70%;  margin-left: 40px;">
                                <label
                                    style="font-size:15pt; font-weight:500;margin-inline: 20px;">{{model.Prof_Name}}</label>
                            </div>
                        </div>
                    </div>

                    <div style="background-color:#051B77 ;">
                        <p class="budgethead">BUDGET
                            HEAD</p>
                    </div>
                    <div style="margin-block:10px ;" *ngFor="let BudegetHead of final_BudgetHead">
                        <div style="background-color:#DEE5FC ; width: 87%;  margin-left: 40px;">
                            <label
                                style="font-size:15pt; font-weight:500;margin-inline: 20px;">{{BudegetHead.budgetHead}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-btn">
                    <button type="button" class="bt" (click)="onSubmit()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>