/* .login .loginimg {
  height: 50%;
  width: 50%;
} */

/* .user {
  font-family: "Montserrat", sans-serif;
  color: #051B77;
  font-size: 30pt;
  font-weight: 600;
  padding-top: 50px;
} */

.sub-text {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 25pt;
  font-weight: 400;
  padding-top: 40px;
  margin-inline: 30px;

}

.sub-text-head {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 22pt;
  font-weight: 400;
  margin-inline: 30px;
  color: white;
  /* border-radius: 20px; */
  padding-block: 15px;
  padding-inline: 20px;
  background-color: #051B77;
}

.sub-text-info {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 15pt;
  font-weight: 700;
  /* margin-inline: 30px; */
  /* padding-block: 15px; */
  padding-inline: 20px;
}

.userimg {
  border-radius: 50px;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.padding-col {
  padding-block: 10px;
}

.arrow-img {
  background-color: rgb(0, 89, 255);
  justify-content: center;
  align-items: center;
  color: white;
  margin-block: 10px;
}

.row-prof {
  flex-direction: row;
  display: flex;
}

.showDiv1 {
  display: flex;
  margin-block: 30px;
  flex-direction: row;
  margin-inline: 50px;
}

.dropdiv {
  width: 32%;
  margin-block: 10px;
  margin-inline: 18px;
  /* background-color: #051B77; */
  color: red;
}

.input-control {
  width: 100%;
  font-size: 10pt;
}

mat-list-option[aria-selected="true"] {
  /* background: rgba(0, 139, 139, 0.7); */
  background-color: #DEE5FC;
}

.material-icons {
  position: absolute;
  /* font-size: 200%; */
  color: #051B77;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 155%
}

.main {
  background-image: url(../../../assets/Images/background_img.jpg);
  /* background-color: darkgray; */
  width: 60%;
  /* height: 100%; */
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  background-size: auto;
  position: relative; 
}

::ng-deep .ng-select .ng-select-container {
  color: #333;
  border-radius: 20px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  background-color: #DEE5FC;
  font-weight: 200;
}

.Heads-btn {
  width: 100px;
  height: 50%;
  border-radius: 30px;
  background-color: #051B77;
  color: white;
  margin-block: 18px;
}

.table-div {
  background-color: #051B77;
  color: white;
  text-align: center;
  font-size: 15pt;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  /* background: #DEE5FC;
  font-size: 15pt; */
  width: 335px;
  margin-left: 5px;
  /* margin-left: 10px; */
  /* font-family: "Montserrat", sans-serif;
  border-color: #DEE5FC;
  justify-content: center;*/
}


.Cprofile-error_msg {
  margin-left: 15px;
}

.green {
  background-color: white;
  color: #051B77;
}

.justify {
  justify-content: center;
  align-items: center
}

.budgethead {
  font-size: 15pt;
  padding-block: 5px;
  color: white;
  text-align: center;
}

.red {
  background-color: #051B77;
  color: white;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

/* .........scolling css----*/

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
}


/*-------------------  table css-----------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #051B77;
  border: 1px solid #051B77;
}

td {
  border: 1px solid #051B77;
}

td,
th {
  text-align: center;
  padding: 8px;
  color: black;
}

tr,
th {
  text-align: center;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #DEE5FC;
}

tr:nth-child(odd) {
  background-color: #DEE5FC;
}

/*  modal css  */
.modal-ku {
  /* width: 900px; */
  width: auto;
  margin: auto;
}

.modal-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-block: 10px;
}

.bubble_sr {
  width: 85px;
  height: 65px;
  background: #0B41A0;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-left: 80px;
  margin-block:5px
}

.bubble_sr:before {
  content: "";
  position: absolute;
  right: -12%;
  /* left:0px; */
  top: 50px;
  width: 0;
  height: 0;
  z-index: -20;
  border-top: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #001E6C
}

.bubble_Des {
  width: 200px;
  height: 75px;
  background: #0B41A0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  border-top-right-radius: 30px;
}

.bubble_Des:before {
  content: "";
  position: absolute;
  right: 30%;
  /* top: 26px; */
  width: 0;
  height: 0;
  z-index: -20;
  border-top: 10px solid #0B41A0;
  border-right: 70px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 16px solid transparent;
}