.login .loginimg {
  height: 50%;
  width: 50%;
}

.user {
  font-family: "Montserrat", sans-serif;
  color: #051B77;
  font-size: 30pt;
  font-weight: 600;
  padding-top: 50px;
}

.sub-text {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 25pt;
  font-weight: 400;
  padding-top: 40px;
  margin-inline: 30px;

}

.sub-text-head {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 25pt;
  font-weight: 400;
  margin-inline: 30px;
  color: white;
  padding-block: 15px;
  padding-inline: 20px;
  background-color: #051B77;
}

.sub-text-info {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 15pt;
  font-weight: 700;
  /* margin-inline: 30px; */
  /* padding-block: 15px; */
  padding-inline: 20px;
}

.userimg {
  border-radius: 50px;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.padding-col {
  padding-block: 30px;
}

.arrow-img {
  background-color: rgb(0, 89, 255);
  justify-content: center;
  align-items: center;
  color: white;
  margin-block: 10px;
}

.row-prof {
  flex-direction: row;
  display: flex;
}

.showDiv1 {
  display: flex;
  margin-block: 30px;
  flex-direction: row;
  margin-inline: 50px;
}

.dropdiv {
  width: 20%;
  margin-block: 10px;
  margin-inline: 20px;
  /* background-color: #051B77; */
  /* border-radius: 30px; */
  color: red;
}

.form-control {
  width: 100%;
}

mat-list-option[aria-selected="true"] {
  /* background: rgba(0, 139, 139, 0.7); */
  background-color: #DEE5FC;
}

.bt {
  background-color: #051B77;
  color: #DEE5FC;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
}

::ng-deep .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  background-color: #DEE5FC;
  font-weight: 200;
}

.table-div {
  background-color: #051B77;
  color: white;
  text-align: center;
  font-size: 15pt;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #DEE5FC;
  font-size: 15pt;
  width: 365px;
  font-family: "Montserrat", sans-serif;
  border-color: #DEE5FC;
  justify-content: center;
}

.green {
  background-color: white;
  color: #051B77;
}

.justify {
  justify-content: center;
  align-items: center
}

.red {
  background-color: #051B77;
  color: white;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

/* .........scolling css----*/

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
}


/*-------------------  table css-----------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #051B77;
  border: 1px solid #051B77;
}

td {
  border: 1px solid #051B77;
}

td,
th {
  text-align: center;
  padding: 8px;
  color: black;
}

tr,
th {
  text-align: center;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #DEE5FC;
}

tr:nth-child(odd) {
  background-color: #DEE5FC;
}