.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 70%;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dee5fc;
  /* margin-inline: 350px; */

}
.back-comp {
  border-width: 0px;
  background-color: #dee5fc;
  font-weight: 450;
  padding-inline: 30px;
  font-size: 25px;
}
.drop-container {
  background-color: #dee5fc;

}

.drop-head {
  font-size: 25px;
}
