.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 70%;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dee5fc;
  margin-block: 10px;
}
.back-comp {
  border-width: 0px;
  background-color: #dee5fc;
  font-weight: 450;
  padding-inline: 30px;
  font-size: 20px;
}
.drop-container {
  background-color: #dee5fc;

}
.btnrow {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-inline: 40px;
  /* justify-content:flex-end;
  align-items: flex-end; */
}
.drop-head {
  font-size: 20px;
}
.user {
  font-family: "Montserrat", sans-serif;
  color: #051B77;
  font-size: 20pt;
  font-weight: 600;
  padding-top: 50px;
  text-align: right;
}
.sub-text {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 15pt;
  font-weight: 400;
  /* padding-top: 5px; */
  text-align: right;
  margin-inline: 30px;

}
.logout-btn {
  border-color: #DEE5FC;
  border-width: 10px;
  padding: 5px;
  /* padding-inline: 20px; */
  height: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 22pt;
  
}