<div class="row">
    <div class="col-md-6 ">
        <img src="../../../assets/Images/B (1000X1000)-01.jpg" alt="login" class="loginimg"
            style="height: 100%; width:100%">
    </div>
    <div class="col-md-6 col-sm-6 ">
        <form [formGroup]="ChangePwdForm">
            <p class="text-head text-center">Change Password</p>
            <div class="inputs" style="margin-left:30px ;">
                <div class="col-md-12 " style="display: flex; justify-content:center">
                    <img src="../../../assets/Images/passwrod-change img 0-01.png" alt="login"
                        style="height: 50%; width:50%">
                </div>
                <div class="row justify-content-md-center col-md-12">
                    <div class="col-md-8" style="margin-top: 30px;">
                        <mat-form-field floatLabel="never" appearance="outline">
                            <div style="display:flex ; flex-direction:row">

                                <!-- <i class="material-icons">lock</i> -->

                                <input matInput class="form-control" type="password" placeholder="Old Password"
                                    name="oldpassword" required formControlName="oldpassword" />
                                <i class="material-icons" (click)="openPopup()" title="Password Policy">
                                    info
                                </i>
                            </div>

                            <div *ngIf="oldpassword && oldpassword.invalid &&  oldpassword.touched"
                                class="text-danger error_msg">
                                <div *ngIf="oldpassword.errors?.['required'] as error">
                                    This is Required Field.
                                </div>
                                <div *ngIf="oldpassword.errors?.['pattern'] as error">
                                    Password not match with password policy.
                                </div>
                                <div *ngIf="oldpassword.errors?.['minLength'] as error">
                                    {{error}}
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center col-md-12">
                    <div class="col-md-8" style="margin-top: 0px;">
                        <mat-form-field floatLabel="never" appearance="outline">
                            <div style="display:flex ; flex-direction:row">

                                <!-- <i class="material-icons">lock</i> -->

                                <input matInput class="form-control" type="password" placeholder="New Password"
                                    name="password" required formControlName="password" />
                                <i class="material-icons" (click)="openPopup()" title="Password Policy">
                                    info
                                </i>
                            </div>

                            <div *ngIf="password && password.invalid &&  password.touched"
                                class="text-danger error_msg">
                                <div *ngIf="password.errors?.['required'] as error">
                                    This is Required Field.
                                </div>
                                <div *ngIf="password.errors?.['pattern'] as error">
                                    Password not match with password policy.
                                </div>
                                <div *ngIf="password.errors?.['minLength'] as error">
                                    {{error}}
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center col-md-12">
                    <div class="col-md-8">
                        <mat-form-field floatLabel="never" appearance="outline">
                            <!-- <i class="material-icons">lock</i> -->

                            <input matInput class="form-control" type="password" placeholder="Confirm Password"
                                name="confirm" required formControlName="confirm" />
                            <div *ngIf="confirm && confirm.invalid &&  confirm.touched" class="text-danger error_msg">
                                <div *ngIf="confirm.errors?.['required'] as error">
                                    This is Required Field.
                                </div>
                                <div *ngIf="confirm.errors?.['MustMatch'] as error">
                                    {{error}}
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>


            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-6 text-center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="ChangePwdForm.invalid"
                        (click)="onsubmit()" type="button" class="bt">Submit</button>
                </div>
                <div class="col-md-6 text-center">
                    <button mat-raised-button color="primary" type="submit" type="button" class="bt"
                        (click)="onBack()">Back</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Password Policy</h4>
                </div>
                <div class="modal-body">
                    <li>Password should contain atleast 6 characters.</li>
                    <li>Password should contain atleast one numeric digit.</li>
                    <li>Password should contain atleast one Capital Letter.</li>
                    <li>Password should contain atleast one special character from !@#$*_-~=.</li>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>