
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #DEE5FC;
  font-size: 25pt;
  font-family: "Montserrat", sans-serif;
  border-color: #DEE5FC;
  border-radius: 59px;
  justify-content: center;
} */

/* 
::ng-deep .mat-form-field-outline-start {
  border-radius: 59px 0 0 59px !important;
  min-width: 59px !important;
} */

/* ::ng-deep .mat-form-field-outline-end {
  border-radius: 0 59px 59px 0 !important;
} */

/* ::ng-deep .mat-form-field input {
  background-color: #DEE5FC !important;
  height: 60%;
  padding-left: 7% !important;
  width: 80% !important;
  border: #DEE5FC !important;
} */

/* ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 3% 0px !important;
} */




.keepME {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18.28pt;
  padding-right: 140px;
}
/* .bt {
  background-color: #051B77;
  color: #DEE5FC;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 22pt;
} */

/* #Captcha {
  background-image: url("../../../assets/Images/cap.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
} */

.navlink {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18.28pt;
  margin-block: 20px;
  /* margin-top: 20px; */
}

.login-error_msg {
  /* font-size: 18px; */
  /* top: 30px; */
  margin-left: 45px;
}