<div class="row">
  <div class="col-md-6 ">
    <img src="../../../assets/Images/B (1000X1000)-01.jpg" alt="login" class="loginimg"
      style="height: 100%; width:100%">
  </div>
  <div class="col-md-6 col-sm-12 ">
    <form [formGroup]="loginForm">
      <p class="text-head text-center">User login</p>
      <div class="inputs" style="padding-top: 30px;">
        <div *ngIf="errorM">
          <p style="color: red;margin-block: 20px;font-size: 17pt;">*{{errormessage}}</p>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-7 col-md-3 col-md-4">
            <mat-form-field floatLabel="never" appearance="outline">
              <!-- <mat-icon matSuffix>person</mat-icon> -->
              <i class="material-icons">account_circle</i>
              <input matInput class="form-control" type="text" placeholder="UserName" name="username" required
                formControlName="userid" />
              <!-- <mat-error>
                Username is required field
              </mat-error>  -->
              <div *ngIf="userid && userid.invalid &&  userid.touched" class="text-danger login-error_msg">
                <div *ngIf="userid.errors?.['Required'] as error">
                  {{error}}
                </div>
                <!-- <div *ngIf="userid.errors?.['Numeric'] as error">
                    {{error}}
                </div>
                <div *ngIf="userid.errors?.['minLength'] as error">
                    {{error}}
                </div> -->
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-7">
            <mat-form-field floatLabel="never" appearance="outline">

              <i class="material-icons">
                lock
              </i>
              <input matInput class="form-control" type="password" [type]="fieldTextType ? 'text' : 'password'"
                placeholder="Password" name="password" required formControlName="password" />
              <div *ngIf="!fieldTextType" style="cursor:pointer" (click)="oneyclick()">
                <mat-icon style="position: absolute; left:93%; top:10px; height: 100%;width: 100%;">visibility
                </mat-icon>
              </div>
              <div *ngIf="fieldTextType" style="cursor:pointer" (click)="oneyclick()">
                <mat-icon style="position: absolute; left:93%; top:10px; height: 100%;width: 100%;">visibility_off
                </mat-icon>
              </div>

              <!-- <mat-error>
                Username is required field
              </mat-error> -->
              <div *ngIf="password && password.invalid &&  password.touched" class="text-danger login-error_msg">
                <div *ngIf="password.errors?.['Required'] as error">
                  {{error}}
                </div>
                <div *ngIf="password.errors?.['PasswordStrengthValidator'] as error">
                  {{error}}
                </div>
                <div *ngIf="password.errors?.['minLength'] as error">
                  {{error}}
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        
        <div class="keepME">
          <div class="col-sm-8" href="#">
            <p><a routerLink="/PasswordRecovery" routerLinkActive="active">FORGOT YOUR PASSWORD ?</a></p>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-md-7">
            <mat-form-field floatLabel="never" appearance="outline">
              <input matInput class="form-control" type="text" placeholder="Enter Captcha" name="Captcha" required
                formControlName="Captcha" />

              <div *ngIf="Captcha && Captcha.invalid &&  Captcha.touched" class="text-danger login-error_msg">
                <div *ngIf="Captcha.errors?.['Required'] as error">
                  {{error}}
                </div>
              </div>
            </mat-form-field>

          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-7">
            <div id="Captcha" class="cap">
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-6 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" (click)="onsubmit()"
            style="margin-top: 50px" type="button" class="bt">LOGIN</button>
        </div>
      </div>
      <div class="text-center navlink">
        <h2>
          <p>New User? <a routerLink="/Signup" routerLinkActive="active">SignUp</a></p>
        </h2>
      </div>
    </form>

  </div>
</div>