<div class="main ">

    <app-challan> </app-challan>
    <div class="user-profile">
        <div class="row-prof" style="height: 100%;">

            <img src="https://cdn-icons-png.flaticon.com/512/21/21104.png" alt="login" class="userimg"
                style="height: 15%; width:15%">
            <p class="sub-text">ramkumar</p>
        </div>
        <div>
            <div class="row-prof">
                <p class="sub-text-info">Last Successful Login:-</p>
                <p class="sub-text-info" style="padding-left: 28px;"> 28-05-2012</p>
            </div>
            <div class="row-prof">
                <p class="sub-text-info">Last Failure Login:-</p>
                <p class="sub-text-info" style="padding-left: 68px;"> 28-05-2012</p>
            </div>
            <div class="row-prof">
                <p class="sub-text-info">Last Change Password:-</p>
                <p class="sub-text-info"> 28-05-2012</p>
            </div>
        </div>

    </div>
    <div style="margin-inline:35px ;">
        <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%; margin-top: 10px;">
    </div>

    <!-- <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%"> -->

    <!-- <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%"> -->
    <!-- <div class="row1 padding-col">
        <p class="sub-text-head">Profile</p>
    </div> -->
    <div (click)="OncreateP()" style="margin-right: 25px;">
        <p class="sub-text" style="cursor: pointer;color: #051B77;   text-decoration:underline; text-align:right;">
            Create profile</p>
    </div>

    <div class="text-center radio-hd">
        <label class="radio-lbn">
            <input [value]="1" [(ngModel)]="isVisible" [ngModelOptions]="{standalone: true}" name="isVisible"
                type="radio" [checked]="isSelected" /> Profile Challan
        </label>

        <label class="radio-lbn">
            <input [value]="2" [(ngModel)]="isVisible" [ngModelOptions]="{standalone: true}" name="isVisible"
                type="radio" [checked]="!isSelected" /> Service Challan
        </label>
    </div>

    <div class="showDiv1" *ngIf="isVisible == 1">
        <div class="drop-div" style="flex:1">
            <label>
                <p class="sub-text-info" style="margin-block: 0px;">Profile List:-</p>
            </label>

            <ng-select [items]="profile" bindLabel="UserProfile" placeholder="Select city" style="width: 40%;"
                [(ngModel)]="selectedCityName">
            </ng-select>
        </div>

        <div class="btnrow">
            <button mat-raised-button color="primary" type="submit" type="button" class="bt">Continue</button>
        </div>
    </div>
    <div class="showDiv1" style="margin-left: 30px;" *ngIf="isVisible == 2">
        <div class="drop-div" style="flex:1">
            <label>
                <p class="sub-text-info" style="margin-block: 0px;">Department:-</p>
            </label>

            <ng-select [items]="Department" bindLabel="DepartName" placeholder="Select Department" style="width: 50%;"
                [(ngModel)]="selectedDepartmentName">
            </ng-select>
        </div>
        <div class="drop-div" style="flex:1">
            <label>
                <p class="sub-text-info" style="margin-block: 0px;">Service:-</p>
            </label>

            <ng-select [items]="Service" bindLabel="name" placeholder="Select Service" style="width: 50%;"
                [(ngModel)]="selectedServiceName">
            </ng-select>
        </div>
        <div class="btnrow">
            <button mat-raised-button color="primary" type="submit" type="button" class="bt">Continue</button>
        </div>
    </div>
    <!-- <div class="btnrow">
        <button mat-raised-button color="primary" type="submit" type="button" class="bt">Continue</button>
    </div> -->
    <!-- <div style="display: flex; flex-direction: row">
        <div class="bubble_sr" style="margin-top: 5px;">
            <label style="color: white;font-size: 25pt; font-weight: 400; padding: 22px;">
                01 </label>
        </div>
        <div class="bubble_Des">
            <div style="display: flex; flex-direction:column;padding: 10px;">
                <label style="color: white;font-size: 12pt; font-weight: 400;  flex:.4">
                    8443-106 testing </label>
                <label style="color: white;font-size: 12pt; font-weight: 400;margin-block: 18px; ">
                    Edit </label>
            </div>
            <div *ngIf="isshow" (click)="onstatuscheck()" >
                <mat-icon style="color:green; margin-right: 20px;margin-top: 30px; cursor: pointer;">done_outline</mat-icon>
            </div>
            <div *ngIf="!isshow" (click)="onstatuscheck()">
                <mat-icon style="color:red; margin-right: 20px;margin-top: 30px; cursor: pointer;">cancel</mat-icon>
            </div>
        </div>
    </div> -->
    <div style="margin-inline:35px ;">
        <img src="../../../assets/Images/line.png" alt="login" class="otpimg" style="height: 100%; width:100%">
    </div>
    <div style="margin-top: 10px;">
        <div class="row1 padding-col" style="cursor: pointer;" (click)="onTransaction()">
            <p class="sub-text-head">Show Last 10 Transaction</p>
        </div>
        <div *ngIf="showtrans" style="margin-inline:35px ;">
            <table>
                <tr>
                    <th>Sr.no</th>
                    <th>Challan Date</th>
                    <th>GRN</th>
                    <th>Status</th>
                    <th>Payment Type</th>
                    <th>Amount</th>
                    <th>Repeat</th>
                    <th>View</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let student of students">
                    <td>{{ student.id }}</td>
                    <td>{{ student.ChallanDate }}</td>
                    <td>{{ student.Grn }}</td>
                    <td>{{ student.Status }}</td>
                    <td>{{ student.PaymentType }}</td>
                    <td>{{ student.Amount }}</td>
                    <td>Repeat</td>
                    <td>View</td>
                    <td>{{student.Verify}}</td>
                    <td></td>
                </tr>
            </table>
            <div style="width: 100%; " (click)="onclosetrans()">
                <p
                    style="cursor: pointer; text-align: center; height: 50%; font-size: 10pt; background-color: #DEE5FC;">
                    Click here to hide</p>
            </div>
        </div>

    </div>


</div>