<div class="row">
    <div class="col-md-6 ">
        <img src="../../../assets/Images/B (1000X1000)-01.jpg" alt="login" class="loginimg">
      </div>    

<div class="col-md-6 col-sm-12 ">
 <form [formGroup]="PasswordRecoveryForm">  
    <p class="user text-center">Recover Your Account</p>
        <div class="inputs">
            <div class="col-md-12">
                <div class="row justify-content-md-center col-md-12">
                    <div class="col-md-9">
                         
                        
                         <div style="padding-left: 20%;padding-top: 5%;padding-bottom: 5%; font-size: 15pt;">
                           <label>
                                <input [value]="1" [(ngModel)]="isVisible" [ngModelOptions]="{standalone: true}" name="isVisible" type="radio" [checked]="isSelected"/> Forgot Password
                            </label>
                         
                            <label>
                                <input [value]="2" [(ngModel)]="isVisible"  [ngModelOptions]="{standalone: true}" name="isVisible" type="radio" [checked]="!isSelected" /> Forgot Login ID
                            </label>   
                         </div> 

                            <!-- <div class="col-md-9">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isVisible" [ngModelOptions]="{standalone: true}" name="isVisible">
                                <mat-radio-button value="1" checked="true" >Forgot Password</mat-radio-button>
                                <mat-radio-button value="2" >Forgot Login ID</mat-radio-button>
                              </mat-radio-group>  
                            </div> --> 

                            <div class="showDiv1" *ngIf="isVisible == 1">
                                    <div class="col-md-12">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput class="form-control" type="text" placeholder="Login ID/Mobile No" name="loginIdMobile"
                                                required formControlName="loginIdMobile" />

                                               <div *ngIf="loginIdMobile && loginIdMobile.invalid &&  loginIdMobile.touched" class="text-danger error_msg">
                                                    <div *ngIf="loginIdMobile.errors?.['Required'] as error">
                                                        {{error}}
                                                    </div>
                                                </div> 

                                        </mat-form-field>
                                    </div>
                            </div>

                            <div class="showDiv2" *ngIf="isVisible == 2">
                                 
                                    <div class="col-md-12">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput class="form-control" type="text" placeholder="Mobile No" name="Mobile"
                                                required formControlName="Mobile" />


                                                <div *ngIf="Mobile && Mobile.invalid &&  Mobile.touched" class="text-danger error_msg">
                                                    <div *ngIf="Mobile.errors?.['Required'] as error">
                                                        {{error}}
                                                    </div>
                                                </div> 

                                        </mat-form-field>
                                    </div>
                                 
                            </div>


                            <div class="col-md-12">
                                <mat-form-field floatLabel="never" appearance="outline">
                                    <input matInput class="form-control" type="text" placeholder="Enter Captcha" name="Captcha"
                                        required formControlName="Captcha" />

                                        <div *ngIf="Captcha && Captcha.invalid &&  Captcha.touched" class="text-danger error_msg">
                                            <div *ngIf="Captcha.errors?.['Required'] as error">
                                                {{error}}
                                            </div>
                                        </div> 
                                </mat-form-field>
 
                            </div>

                               
                            <div class="row justify-content-md-center">
                                <div class="col-md-12">
                                    <div id="Captcha" class="cap">       
                                    </div> 
                                </div> 
                            </div>
                            <br><br> 
  

                            <div class="row justify-content-md-center">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-3 text-center">
                                        <button mat-raised-button color="primary" type="submit" [disabled]="PasswordRecoveryForm.invalid"
                                            (click)="onsubmit()" type="button" class="bt">Submit</button>
                                    </div>

                                    <div class="col-md-3 text-center">
                                        <p> <a routerLink="/login" routerLinkActive="active" class="bt" mat-raised-button color="primary">Back</a></p>
                                    </div>

                                </div>
  
                            </div>
                    </div>    
                </div>    
            </div>  
        </div>   
    </form> 
</div> 
