 /* ....................Password Recovery page css.......*/
  
 .rdBtn {
  font-size: 15pt;
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}


.user {
  font-family: "Montserrat", sans-serif;
  color: #051B77;
  font-size: 30pt;
  font-weight: 800;
  padding-top: 30px;
}

mat-form-field {
  display: block;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #DEE5FC;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
  border-color: #DEE5FC;
  border-radius: 59px;
  justify-content: center;
}
  
::ng-deep .mat-form-field-outline-start {
  border-radius: 40px 0 0 40px !important;
  min-width: 40px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 40px 40px 0 !important;
}

::ng-deep .mat-form-field input {
  background-color: #DEE5FC;
  font-size: 25pt;
  padding-left: 2%;
  width: 100%;
  border: #DEE5FC;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 3% 0px !important;
}

.form-control {
  background-color: #DEE5FC;

}

.form-control:focus {
  box-shadow: 0 0 0 0;
}
 input, optgroup, select, textarea {
  background: border-box !important; 
  border: aliceblue !important;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100% !important;
}
 
.bt {
  background-color: #051B77;
  color: #DEE5FC;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 25pt;
}
  
.cap
{
  display: block;
  background: #DEE5FC;
  width: 100%;
  height: 70px;
  font-size: 20pt;
  font-family: "Montserrat", sans-serif;
  border-radius: 59px;
  border-color: #DEE5FC; 
} 

#Captcha
{
  background-image: url("../../../assets/Images/cap.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}




 
 
