<div class="row">
    <div class="col-md-6 ">
        <img src="../../../assets/Images/B (1000X1000)-01.jpg" alt="login" class="loginimg">
    </div>
    <div class="col-md-6 col-sm-12 ">
        <form [formGroup]="loginForm">
            <p class="user text-center">User Registration</p>
            <div class="inputs">
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <div style="display:flex ; flex-direction:row">
                                    <input matInput class="form-control" type="text" placeholder="UserName"
                                        name="userid" required formControlName="userid" />
                                    <i class="material-icons" (click)="checkUser()" title="Check Availablity">
                                        search
                                    </i>
                                </div>
                                <div *ngIf="userid && userid.invalid &&  userid.touched" class="text-danger error_msg">
                                    <div *ngIf="userid.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="userid.errors?.['SpecialChar'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>

                        </div>
                        <!-- <div class="checkuser" (click)="checkUser()">
                            <p> <a routerLinkActive="active">Check Availablity </a></p>
                        </div> -->



                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">

                                    <input matInput class="form-control" type="email" placeholder="Email Id"
                                        name="email" required formControlName="email" />

                                    <!-- <mat-error>
                                    Email ID is required field
                                </mat-error> -->
                                <div *ngIf="email && email.invalid &&  email.touched" class="text-danger error_msg">
                                    <div *ngIf="email.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="email.errors?.['ValidEmail'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <div style="display:flex ; flex-direction:row">

                                    <input matInput class="form-control" type="text" placeholder="Password"
                                        name="password" required formControlName="password" />
                                    <i class="material-icons" (click)="openPopup()" title="Password Policy">
                                        info
                                    </i>
                                </div>
                                <div *ngIf="password && password.invalid &&  password.touched"
                                    class="text-danger error_msg">
                                    <div *ngIf="password.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="password.errors?.['PasswordStrengthValidator'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="password.errors?.['minLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="password" placeholder="Confirm Password"
                                    name="confirm" required formControlName="confirm" />
                                <!-- <mat-error>
                                    Confirm Password is required field
                                </mat-error> -->
                                <div *ngIf="confirm && confirm.invalid &&  confirm.touched"
                                    class="text-danger error_msg">
                                    <div *ngIf="confirm.errors?.['Required'] as error">
                                        {{error}}
                                    </div>

                                    <div *ngIf="confirm.errors?.['PasswordStrengthValidator'] as error">
                                        {{error}}
                                    </div>
                                    <!-- <div *ngIf="confirm.errors?.['cannotContainSpace'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="confirm.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div> -->
                                </div>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="First Name" name="first"
                                    required formControlName="first" />
                                <!-- <mat-error>
                                    First Name is required field
                                </mat-error> -->
                                <div *ngIf="first && first.invalid &&  first.touched" class="text-danger error_msg">
                                    <div *ngIf="first.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="first.errors?.['Alphabet'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="first.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="Last Name" name="last"
                                    required formControlName="last" />
                                <!-- <mat-error>
                                    Last Name is required field
                                </mat-error> -->
                                <div *ngIf="last && last.invalid &&  last.touched" class="text-danger error_msg">
                                    <div *ngIf="last.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="last.errors?.['Alphabet'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="last.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="date" placeholder="Dob" name="dob" required
                                    formControlName="dob" />
                                <!-- <mat-error>
                                    Dob is required field
                                </mat-error> -->
                                <div *ngIf="dob && dob.invalid &&  dob.touched" class="text-danger error_msg">
                                    <div *ngIf="dob.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="Address" name="address"
                                    required formControlName="address" />
                                <!-- <mat-error>
                                    Address is required field
                                </mat-error> -->
                                <div *ngIf="address && address.invalid &&  address.touched"
                                    class="text-danger error_msg">
                                    <div *ngIf="address.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="address.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="tel" placeholder="Mobile Number"
                                    maxlength="10" name="mobile" formControlName="mobile" />
                                <!-- <mat-error>
                                    Mobile Number is required field
                                </mat-error> -->
                                <div *ngIf="mobile && mobile.invalid &&  mobile.touched" class="text-danger error_msg">
                                    <div *ngIf="mobile.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="mobile.errors?.['Numeric'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="mobile.errors?.['StartWith0'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="mobile.errors?.['minLength'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="mobile.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>


                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="tel" placeholder="PinCode" name="pincode"
                                    required formControlName="pincode" />
                                <!-- <mat-error>
                                    Pincode is required field
                                </mat-error> -->
                                <div *ngIf="pincode && pincode.invalid &&  pincode.touched"
                                    class="text-danger error_msg">
                                    <div *ngIf="pincode.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="pincode.errors?.['Numeric'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="pincode.errors?.['StartWith0'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="pincode.errors?.['minLength'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="pincode.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="TIN/Actt.No./VehicleNo"
                                    name="tin" required formControlName="tin" />
                                <!-- <mat-error>
                                    Tin is required field
                                </mat-error> -->
                                <div *ngIf="tin && tin.invalid &&  tin.touched" class="text-danger error_msg">
                                    <div *ngIf="tin.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <!-- <div *ngIf="last.errors?.['ValidEmail'] as error">
                                        {{error}}
                                    </div> -->
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <!-- <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="Country" name="country"
                                    required formControlName="country" />
                                <mat-error>
                                    Country is required field
                                </mat-error>
                                
                            </mat-form-field> -->
                            <div class="container">
                                <select (change)="selectCountry($event)">
                                    <option value="Select Country">Select Country</option>
                                    <option *ngFor="let country of Country" value="{{country.id}}">{{country.name}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="valError.country" class="errordrop">
                                <label> {{valErrorM.country}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <!-- <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="State" name="state"
                                    required formControlName="state" />
                                <mat-error>
                                    State is required field
                                </mat-error>
                            </mat-form-field> -->
                            <div class="container">
                                <select (change)="selectState($event)">
                                    <option value="Select State">Select State</option>
                                    <option *ngFor="let state of State" value="{{state.id}}">{{state.name}} </option>
                                </select>
                            </div>
                            <div *ngIf="valError.state" class="errordrop">
                                <label> {{valErrorM.state}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <div class="container">
                                <select (change)="selectCity($event)">
                                    <option value="Select City">Select City</option>
                                    <option *ngFor="let city of City" value="{{city.id}}">{{city.name}} </option>
                                </select>
                            </div>
                            <div *ngIf="valError.city" class="errordrop">
                                <label> {{valErrorM.city}}</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="CIty" name="city" required
                                    formControlName="city" />
                                <!-- <mat-error>
                                    Answer is required field
                                </mat-error> -->
                                <div *ngIf="city && city.invalid &&  city.touched" class="text-danger error_msg">
                                    <div *ngIf="city.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="city.errors?.['Alphabet'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="city.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="city.errors?.['minLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <div class="container">
                                <select (change)="selectQuestion($event)">
                                    <option value="Select Your Security Question">Select Your Security Question</option>
                                    <option *ngFor="let question of Question" value="{{question.id}}">{{question.name}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="valError.question" class="errordrop">
                                <label> {{valErrorM.question}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-md-6">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="never" appearance="outline">
                                <input matInput class="form-control" type="text" placeholder="Answer" name="answer"
                                    required formControlName="answer" />
                                <!-- <mat-error>
                                    Answer is required field
                                </mat-error> -->
                                <div *ngIf="answer && answer.invalid &&  answer.touched" class="text-danger error_msg">
                                    <div *ngIf="answer.errors?.['Required'] as error">
                                        {{error}}
                                    </div>
                                    <div *ngIf="answer.errors?.['maxLength'] as error">
                                        {{error}}
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- <div class="row justify-content-md-center">
                    <div class="col-md-9 ">
                        <input class="cap" style="text-align: center; width: 100%;" name="captcha"
                            placeholder="Enter Captcha" />
                    </div>
                </div> -->

                <!-- <div class="row justify-content-md-center">
                    <div class="col-md-9">
                        <input id="Captcha" style="text-align: center; width: 100%;" class="cap" readonly>
                    </div>
                </div> -->
                <!-- <re-captcha (resolved)="resolved($event)" (error)="onError($event)"
          siteKey="6LesEcsgAAAAAD96gzkRGicq9ORAwChW6L-DVHVm"></re-captcha> -->

            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-6 text-center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
                        (click)="onsubmit()" type="button" class="bt">SIGNUP</button>
                </div>
            </div>

            <div class="text-center navlink">
                <h3>
                    <p>Already have an account? <a routerLink="/" routerLinkActive="active">SignIn </a></p>
                </h3>
            </div>
        </form>
    </div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Password Policy</h4>
                </div>
                <div class="modal-body">
                    <li>Password should contain atleast 6 characters.</li>
                    <li>Password should contain atleast one numeric digit.</li>
                    <li>Password should contain atleast one Capital Letter.</li>
                    <li>Password should contain atleast one special character from !@#$*_-~=.</li>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>